API_KEYS = your_api_keys, separated_by_comma
PORT = 3000
REDIS_HOST = localhost
REDIS_PORT = 6379
# If your Redis server got auth, uncomment the following line & provide the password
# REDIS_PASSWORD = your_redis_password