API_KEYS = your_api_keys, separated_by_comma
PORT = 3000
REDIS_HOST = localhost
REDIS_PORT = 6379
# If your Redis server got auth, uncomment the following line & provide the password
# REDIS_PASSWORD = your_redis_password

ADMIN_KEY=your_secret_admin_keyn
DB_PATH=./data
JWT_SECRET=some_long_random_secret_here
BREVO_API_KEY=your_api_key_here